html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

#root{
    height: calc(100% - 60px);
    width: calc(100% - 60px);
    padding: 30px;
    display: flex;  
}